#!/bin/bash
#
############################
# File managed with puppet #
############################
#
# harvester run - starts any harvest jobs that have been created by putting them into the gather queue.
# Also checks running jobs - if finished it changes their status to Finished <- that's the part we are interested in doing here.

# Check if there is no previous long running harvester instance, if there is and has been running longer then $WARN seconds complain about it as it might be stuck.
WARN=<%= @cron_warning %>

# There should never be more than one, but capture only one PID just in case
set -o pipefail
PID=`pgrep -f 'plugin=ckanext-harvest harvester run' | head -n1 | tr -d ' '`
if [ $? -eq 0 ]; then
  RUNTIME=`ps -p $PID -o etimes= | tr -d ' '`
  if [ $RUNTIME -gt $WARN ]; then
    echo "Previous 'harvester run' job instance is still running after $RUNTIME seconds, PID: $PID - Refusing to start another one"
  fi
  exit 1
fi

# Switch to ckan virtualenv first
. /usr/lib/ckan/default/bin/activate
cd /usr/lib/ckan/default/src/ckan

# Run harvester.
# Sends all output (even if there are no errors) straight to stderr and there is no --silent switch either. How evil is that!
<%= @paster %> --plugin=ckanext-harvest harvester run --config=<%= @ckan_conf %> > /dev/null 2>&1
# Notify if there was an error
let STATUS=$?
if [ $STATUS -ne 0 ]; then
  echo "Error while running $0 - manual intervention required"
  exit $STATUS
fi
