#!/bin/bash
# backs up the database

. /usr/lib/ckan/default/bin/activate
cd /usr/lib/ckan/default/src/ckan
paster --plugin=ckan search-index rebuild --config=/etc/ckan/default/production.ini 
paster views create <%= scope.lookupvar('ckan::default_views_string')  -%> --config=/etc/ckan/default/production.ini 
